body {
    background-color: 
    
#6e7da3;
}
header {
    width: 95%;
    border: 10px solid #133B5C;
    padding: 30px;
    border-radius: 30px;
    text-align: center;
}
p {
    color:azure;
    font-style: bold; 
}
header img:hover {
    transform: scale(0.8);
    transition: all .3s ease-in-out;
}
img {
    width: 40%;
    border: 3px solid #1E5128;
    border-radius: 40px 40px 40px 24px;
}
h1 {
    color: #F5E8C7;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 25px;
    background-color: #6EACDA;
    border: none;
    border-color: #133B5C;
    border-radius: 10px;
}
button:hover {
    background-color: #6EACDA;
    color: #F8FAFC;
    transform: scale(0.8);
    transition: all .3s ease-in-out;
}
.about{
    width: 95%;
    

}
#products{
    width: 95%;
    margin: 40px auto;
    text-align: center;
}
#products h2{
    color:#133B5C
}
.products-card {
    padding: 20px;
    border: 1px dashed darkblue;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.card {
    width: 350px;
    border: 1px solid aliceblue;
}

